# fly.toml app configuration file generated for flexstream on 2025-11-08T22:25:23+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'flexstream'
primary_region = 'syd'

[build]

[http_service]
  internal_port = 5000
  force_https = true

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
